<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CRoboto:400,400i,500,700" rel="stylesheet">

	<!-- Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/cryptocoins.css">
	<link rel="stylesheet" href="css/cryptocoins-colors.css">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link id="switch-color" rel="stylesheet" href="css/main-color1.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="<%= @description %>">
	<meta name="keywords" content="<%= @keywords %>">
	<meta name="author" content="<%= @author %>">
	<title>"<%= @site_title %>"</title>
</head>
<body>
	
  	<!-- header -->
	<header class="header">
		<!-- logo -->
		<div class="header__logo">
			<a href="index.html">
				<img src="logo.png" alt="<%= @site_name %> logo">
			</a>
		</div>
		<!-- end logo -->

		<!-- navigation -->
		<ul class="header__nav">
			<li><a href="#home" data-scroll>Home</a></li>
			<li><a href="#services" data-scroll >Services</a></li>
			<li><a href="#pricing" data-scroll >Pricing</a></li>
			<li><a href="#pricing" data-scroll >Get Started</a></li>
		</ul>
		<!-- end navigation -->

		<!-- buttons -->
		<div class="header__btns">
			<a href="#" data-toggle="modal" data-target="#loginModal" class="btn pt-0 btn--transparent btn--header">log in</a>		</div>
		<!-- end buttons -->
		<!-- mob button -->
		<button class="header__menu" type="button">
			<i class="ti-menu"></i>
			<i class="ti-close"></i>
		</button>
		<!-- end mob button -->
	</header>
	<!-- end header -->
	<!-- home -->
	<section class="home home--ellipse" id="home">
		<!-- particles -->
		<div id="particles-js" class="home__particles"></div>
		<!-- end particles -->

		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-0">
					<div class="home__content">
						<h1 class="home__title">Start <%= @coincode_short %><br> mining today!</h1>
						<p class="home__text mh-100">It is super simple - Your mining rigs are already set up and running. As soon as you have set up your account, you can start to mine your <%= @coincode_long %> using our cloud mining service!</p>
						<a href="#pricing" data-scroll class="btn pt-0 btn--shadow">get started</a>
					</div>
				</div>

				<div class="col-xl-6 offset-xl-1">
					<div class="home__content">
						<form action="#" class="calculate">
			<div class="row">
							<div class="col-12 col-sm-7 col-md-5 col-xl-5">
								<input id="txt1" name="text1" type="text" class="form__input" placeholder="Hashrate">
							</div>

							<div class="col-12 col-sm-5 col-md-3 col-xl-3">
								<div class="form__select-wrap">
									<select class="form__select">
										<option value="ths"><%= @denominator %></option>
									</select>
								</div>
							</div>

							<div class="col-12 col-md-4 col-xl-4">
								<button class="btn pt-0 btn--center" type="button" onclick="myFunction()">Calculate</button>
							</div>

							<div class="col-12">
								<p class="calculate__text">Ƀ <span id="btc">0.000000</span>  /  $ <span id="demo">0.00</span> <br>Monthly</br><br>(will change based on mining difficulty and Bitcoin price)</p>
								<span class="calculate__info">Estimated monthly revenue<a href="#"><i class="ti-info"></i></a></span>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>

		<a href="#services" data-scroll class="home__btn">
			<i class="ti-angle-double-down"></i>
		</a>
	</section>
	<!-- end home -->
<!-- video -->
	<div class="section section--bg" data-bg="assets/img/section/section-bg2.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- section title -->
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
						<a class="section__video" href="<%= @coin_ytvideo %>"><i class="ti-control-play"></i></a>
						<h2 class="section__title section__title--white">Why Choose Us?</h2>
						<p class="section__text section__text--white section__text--head">Check out our mining farm setup. To bring you the best we must hire the best.</p>
					</div>
					<!-- end section title -->
				</div>
			</div>
		</div>
	</div>
	<!-- end video -->
	<!-- services -->
	<section class="section pb-0 pt-0" id="services">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-bolt" style="float:right;"></i>
						<h3 class="service__title m-0">INSTANT<br>CONNECT</h3>
						<p class="service__text">The mining starts immediately after confirmed payment.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-wallet" style="float: right;"></i>
						<h3 class="service__title m-0">INSTANT<br>WITHDRAWAL</h3>
						<p class="service__text">Choose the amount to withdraw and receive it instantly</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-stats-up" style="float: right;"></i>
						<h3 class="service__title m-0">DETAILED<br>STATISTICS</h3>
						<p class="service__text">View all mining related information in real-time, at any point from any location.</p>
					</div>
					<!-- end service -->
				</div>

				<div class="col-12 col-md-6 col-xl-3">
					<!-- service -->
					<div class="service">
						<i class="ti-harddrives" style="float: right;"></i>
						<h3 class="service__title m-0">FIXED<br>FEES</h3>
						<p class="service__text">No hidden fees or comissions. Every single transaction is visible to you.</p>
					</div>
					<!-- end service -->
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->
	<!-- pricing -->
	<section class="section section--border-bottom pt-0 pb-0" id="pricing">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<h2 class="section__title">Pricing</h2>
					<p class="section__text">Just choose your <b>favorite</b>  and get started in minutes !</p>
				</div>
				<!-- end section title -->
			</div>

			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1 col-xl-12 offset-xl-0">
					<!-- price -->
					<div class="price">
						<h3 class="price__title">Bronze</h3>
						<ul class="price__list">
							<li><b>Hashrate:</b> <%= @bronze_hash %> <%= @denominator %></li>
							<li><b>Service pay: </b>Monthly</li>
							<li><b>Algorithm:</b> <%= @algorithm %> </li>
                            <li><b>Duration:</b> 30 days</li>
							<li>Automatic charging in BTC</li>
						</ul>
				        <span class="price__value">Ƀ <%= @bronze_price %></span>
                      <input type="image"  data-toggle="modal" data-target="#purchaseModal" src="https://www.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" alt="Pay with BitPay" width="175px" class="checkoutbutton" data-price="<%= @bronze_price %>" data-hashrate="<%= @bronze_hash %> <%= @denominator %>" data-plan="bronze" />
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price">
						<h3 class="price__title">Silver</h3>
						<ul class="price__list">
							<li><b>Hashrate:</b> <%= @silver_hash %> <%= @denominator %></li>
							<li><b>Service pay: </b>Bi-week</li>
							<li><b>Algorithm:</b> <%= @algorithm %></li>
                            <li><b>Duration:</b> 30 days</li>
							<li>Automatic charging in BTC</li>
						</ul>
						<span class="price__value">Ƀ <%= @silver_price %></span>
                      <input type="image"  data-toggle="modal" data-target="#purchaseModal" src="https://www.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" alt="Pay with BitPay" width="175px" class="checkoutbutton" data-price="<%= @silver_price %>" data-plan="silver" data-hashrate="<%= @silver_hash %> <%= @denominator %>"/>
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price price--best">
						<h3 class="price__title">Gold</h3>
						<ul class="price__list">
							<li><b>Hashrate:</b> <%= @gold_hash %> <%= @denominator %></li>
							<li><b>Service pay: </b>Week</li>
							<li><b>Algorithm:</b> <%= @algorithm %> </li>
                            <li><b>Duration:</b> 30 days</li>
							<li>Automatic charging in BTC</li>
						</ul>
						<span class="price__value">Ƀ 0.0300</span>
                        <input type="image"  data-toggle="modal" data-target="#purchaseModal" src="https://www.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" alt="Pay with BitPay" width="175px" class="checkoutbutton" data-price="0.017" data-plan="gold" data-hashrate="<%= @gold_hash %> <%= @denominator %>"/>
					</div>
					<!-- end price -->

					<!-- price -->
					<div class="price">
						<h3 class="price__title">Platinum</h3>
						<ul class="price__list">
							<li><b>Hashrate:</b> <%= @silver_hash %> <%= @denominator %></li>
							<li><b>Service pay: </b>Daily</li>
							<li><b>Algorithm:</b> <%= @algorithm %> </li>
                            <li><b>Duration:</b> 30 days</li>
							<li>Automatic charging in BTC</li>
						</ul>
						<span class="price__value">Ƀ 0.0550</span>
                        <input type="image"  data-toggle="modal" data-target="#purchaseModal" src="https://www.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" alt="Pay with BitPay" width="175px" class="checkoutbutton" data-price="0.055" data-plan="platinum" data-hashrate="<%= @platinum_hash %> <%= @denominator %>"/>
					</div>
					<!-- end price -->
				</div>
			</div>
		</div>
	</section>
	<!-- end pricing -->
<!-- features -->
	<section class="section pt-0 pb-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-money"></i>
						<h3 class="feature__title">Start with <%= @bronze_price %> BTC</h3>
						<p class="feature__text">Minimum order price is <%= @bronze_price %> BTC for every algorithm or hash upgrade in our customer panel.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-shield"></i>
						<h3 class="feature__title">No contracts, no risk</h3>
						<p class="feature__text">Cancel at any time and get your remaining funds back with no cancellation fee.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-rocket"></i>
						<h3 class="feature__title">Fast delivery</h3>
						<p class="feature__text">Massive hashing power in a short amount of time.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-thumb-up"></i>
						<h3 class="feature__title">Mine on your favorite pool</h3>
						<p class="feature__text">You decide how and when you want to buy hashing power and which pool to direct it to.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-pulse"></i>
						<h3 class="feature__title">Real-time statistics</h3>
						<p class="feature__text">Follow your workers and their performance.</p>
					</div>
					<!-- end feature -->
				</div>

				<div class="col-12 col-sm-6 col-xl-4">
					<!-- feature -->
					<div class="feature">
						<i class="ti-check-box"></i>
						<h3 class="feature__title">Valid shares only</h3>
						<p class="feature__text">Never pay for dead, faulty configured rigs or invalid shares.</p>
					</div>
					<!-- end feature -->
				</div>
			</div>
		</div>
	</section>
	<!-- end features -->
				<!-- form --> 
    <script>
      function myFunction() {
        var y = document.getElementById("txt1").value;
        var x = Number(y) * <%= @profit_single_hash %>;
        var c = Number(x) / <%= @current_btc_price %>;
        document.getElementById("btc").innerHTML = c.toString().slice(0,10); 
        document.getElementById("demo").innerHTML = x;
      }
    </script>
	<!-- end get started -->

	<!-- partners -->
	<div class="partners section--border-top section--border-bottom" >
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- partners slider -->
					<div class="owl-carousel partners__slider">
						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/tldr-black-300x140.png" alt="tldr network">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/1kx-new-300x140.png" alt="lkx">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/01_Hashed_01-1-300x120.png" alt="hashed">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/MNV-LOGO-Display-300x140.png" alt="mnv logo">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/connectcapital4-1-300x150.png" alt="connectcapital">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/coinsortium-good-300x140.png" alt="coinsortium">
							</a>
						</div>
						<!-- end slider item -->

						<!-- slider item -->
						<div class="item">
							<a href="#">
								<img src="assets/partners/Seal-300x139.png" alt="seal">
							</a>
						</div>
						<div class="item">
							<a href="#">
								<img src="assets/partners/blockhianiBW-300x103.png" alt="Blockchain iBW">
							</a>
						</div>
						<!-- end slider item -->
					</div>
					<!-- end partners slider -->
				</div>
			</div>
		</div>
	</div>
	<!-- end partners -->

	<!-- footer -->
	<footer class="footer pt-2">
		<div class="container">
			<div class="row">
              <div class="col-4">
                info@hashflare.io <br>
                HashFlare LP <br>
                Company number SL024271 <br>
                44/46 Morningside Road, Edinburgh<br >
                Scotland, UK, EH10 4BF <br>
              </div>
              <div class="col-8">
                <p class="text-center">© Copyright HashFlare LP, all rights reserved. 2014-2018</p>
                <p class="text-center">Website operated by HashFlare LP Company number SL024271</p>
                <img class="mx-auto d-block" src="https://www.bitpay.com/cdn/en_US/currency-mark-std.svg" alt="BitPay Supported Currencies (BTC, BCH)" width="150px" />
              </div>
			</div>
		</div>
	</footer>
	<!-- end footer -->


	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smooth-scroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/particles.min.js"></script>
	<script src="js/particles-app.js"></script>
	<script src="js/main.js"></script>
    <!-- loginModal -->
    <div class="modal fade" id="pwModal" tabindex="-1" role="dialog" aria-labelledby="#{@coincode_short}ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <img class="sign__logo modal-title mb-0" src="logo.png" alt="<%= @site_name %> logo" id="exampleModelLabel"/>
                    <p class="mx-auto mb-0 pt-2">
              Forgot password ?
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="p-0 modal-body">
            <div class="mx-auto sign__content">

              <form action="#" class="sign__form pt-0 pb-0">
                <input type="text" class="m-2 form__input" placeholder="Email">
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary pt-0" id="pwbutton">Send email</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end loginemodal -->
    <!-- loginModal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="#{@coincode_short}ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <img class="sign__logo modal-title mb-0" src="logo.png" alt="<%= @site_name %> logo" id="exampleModelLabel"/>
                    <p class="mx-auto mb-0 pt-2">
              Customer Portal
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="p-0 modal-body">
            <div class="mx-auto sign__content">

              <form action="#" class="sign__form pt-0 pb-0">
                <input id="loginmail" type="text" class="m-2 form__input" placeholder="Email">
                <input id="loginpassword" type="password" class="m-2 form__input" placeholder="Password">
                <a href="#" class="m-2 sign__forgot" data-toggle="modal" data-dismiss="modal" data-target="#pwModal">Forgot password?</a>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary pt-0"  id="loginButton">Log In</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end loginemodal -->
    <!-- ourchageModal -->
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="#{@coincode_short}ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header p-0" style="max-height: 90px; background-color: rgb(33, 68, 151)"> 
            <div class="container col-md-12 p-0">
              <img class="sign__logo modal-title p-0 m-0" style="width: 100px;" src="assets/bitpay-logo-white.svg" alt="smart mining" id="exampleModelLabel"/>          
            </div>
          </div>
          <div class="p-0 modal-body">
            <div class="container col-md-12">
              <div class="row align-items-center" style="background: rgba(0,0,0, 0.2); min-height:50px;">
                <div class="col-md-12">
                  <b style="color: rgba(0,0,0, 0.6);">Hashflare LP</b>
                </div>
              </div>
                <div class="row pt-2">
                  <div class="container col-md-8">
                    <div id="checkout_plan"></div>
                    <div id="checkout_description"></div>
                  </div>
                  <div class="container col-md-4 text-right">
                    <div id="checkout_price"></h3>
                  </div>
                </div>
            </div>
              <div class="row">  
                <div class="sign__paycontent mx-auto">    
                  <form id="orderForm">
                    <div class="form-group">
                      <label for="username" class="control-label">username</label>   
                      <input type="text" id="username" name="username" class="form-control" required>
                      <label for="email" class="control-label pt-2">email</label>   
                      <input type="text" id="email" name="email" class="form-control" required>

                      <label for="password" class="control-label pt-2">password</label>   
                      <input type="password" id="password" name="password" class="form-control" required>  <br/>                  
                      <input type="password" id="password2" name="password2" class="form-control">
                    </div>

                    <div class="form-group m-0">                      
                      <div class="cc-selector">
                        <input id="paybtc" type="radio" name="credit-card" value="paybtc" checked/>
                        <label class="drinkcard-cc paybtc" for="paybtc"></label>
                        <input id="paybch" type="radio" name="credit-card" value="paybch"/>
                        <label class="drinkcard-cc paybch" for="paybch"></label>
                      </div>
                    </div>
                  </form>
                  <br><div id="qrcodeCanvas"></div>  
                  <br><div id="paymentUrl"></div>
                  <div id="paymentAddress"></div>
                  <div id="paymentAmount"></div>
                  <div id="paymentMessage"></div>

              </div>
            </div>

            </div>

          <div class="modal-footer">
            <input type="image" id="paybutton" src="https://www.bitpay.com/cdn/en_US/bp-btn-pay.svg" alt="Pay with BitPay"/>
          </div>
        </div>
      </div>
    </div>
    <!-- end loginmodal -->
    <script type="text/javascript" src="js/one.js"></script>
    <script type="text/javascript" src="js/two.js"></script>
    <script type="text/javascript" src="js/three.js"></script>

  </body>
</html>
